.bounce-subtle {
    animation-name: bounce-subtle;
    animation-timing-function: ease;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}
@keyframes bounce-subtle {
    0%   { transform: scale(1,1)      translateY(0); }
    50%  { transform: scale(.97,1.03)   translateY(-26px); }
    100%  { transform: scale(1,1)      translateY(0); }
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
  @keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    20%  { transform: scale(1.1,.9)   translateY(0); }
    40%  { transform: scale(.9,1.1)   translateY(-100px); }
    60%  { transform: scale(1.05,.95) translateY(0); }
    80%  { transform: scale(1,1)      translateY(-7px); }
    100%  { transform: scale(1,1)      translateY(0); }
}

.tip{
    animation-name: tip;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: forward;
    animation-iteration-count: 1;   
}
@keyframes tip { 
    0%   { transform: rotate(0deg)}
    50%  { transform: rotate(-36deg)}
    100%  { transform: rotate(0deg)}
}