.overlay{
    box-shadow: inset 0 0 0 1000px rgba(0, 83, 155, .65);
    background-size: cover;
}
.background-fixer{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.blackness{
    background-color: rgba(0, 0, 0, .7); 
}
/* a tags in markdown */
.mdlink{
    color: white
}