.overlay{
    box-shadow: inset 0 0 0 1000px rgba(0, 83, 155, .65);
    background-size: cover;
}
.background-fixer{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.blackness{
    background-color: rgba(0, 0, 0, .7);
  
}

.transition{
    transition: all;
}

/* animations */

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
  @keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    20%  { transform: scale(1.1,.9)   translateY(0); }
    40%  { transform: scale(.9,1.1)   translateY(-100px); }
    60%  { transform: scale(1.05,.95) translateY(0); }
    80%  { transform: scale(1,1)      translateY(-7px); }
    100%  { transform: scale(1,1)      translateY(0); }
}

.bounce-subtle {
    animation-name: bounce-subtle;
    animation-timing-function: ease;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    }
    @keyframes bounce-subtle {
    0%   { transform: scale(1,1)      translateY(0); }
    50%  { transform: scale(.97,1.03)   translateY(-26px); }
    100%  { transform: scale(1,1)      translateY(0); }
}