.overlay{
    box-shadow: inset 0 0 0 1000px rgba(0, 83, 155, .65);
    background-size: cover;
}
.background-fixer{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.fixed-bottom{
    padding: 0 50px 50px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.blackness{
    background-color: rgba(0, 0, 0, .7);
  
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
